<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Java Microservice on Heroku</h1>
    <p>This is a Java Microservice deployed on Heroku platform.</p>

  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Microservice is the future!!
  </div>
  <hr>
 
</div>

</body>
</html>
